#grupoeong{
 
  background-color: rgba(234, 176, 34, 0.72); 
  margin-top: 20px; 
  border: 1px solid ;
  

}

button{
  border-radius: 11px;
  margin-bottom: 20px; 
  margin-top:  20px;
  margin-left: 50px;
  margin-right: 50px; 
  background: bisque;
  height:4vw;
  width: 35vw; 
  font-size: 2.2vw;
  font-family: sans-serif;


}


#nome {
  font-family: sans-serif; 
  margin: 20px;
  border: 1px solid ;
  height:10vw;
  width: 50vw; 
  background-color: white; 

}



#descricao{
  font-family: arial;
  border: 1px solid ;
  font-size: 15px;
  margin: 20px;
  height:25vw;
  width: 40vw; 
  background-color: white;
 
  

}


#contatos{
  font-size: 20px;
  font-family: sans-serif; 
  height:7vw;
  width: 55vw; 
  margin: 20px;
  background-color: white;
  border: 1px solid ;


}

p{
  font-family: sans-serif;
  font-size: 18px;
}

#primeiradiv{
  background-color: ; 
  border: 1px solid ;
  align-items: center; 

}
